.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cocktail {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: 'Avenir Next', 'Avenir';
  width: 380px;
  margin: 50px;
  padding: 80px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(121, 121, 121, 0.1), 0px 10px 20px #E2DBE8;
}

.cocktail > h1 {
  text-align: center;
}

.cocktail-item {
  
}

.item-key {
  font-weight: bold;
}
