.app {
  height: 100vh;
  width: 100vw;
}

.App-header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50vw;
  height: 50px;
  text-align: center;
  font-family: 'Avenir Next', 'Avenir';
  font-size: 12pt;
  border: none;
  box-shadow: 0px 2px 5px rgba(121, 121, 121, 0.1), 0px 5px 10px #E2DBE8;
  border-radius: 50px;
}

.list-container {
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding: 100px;
  align-items: flex-end;
  box-sizing: border-box;
  height: calc(100vh - 100px);
  overflow-x: auto;
}

.cocktail:first-child {
  margin-left: calc(50% - 156px);
}

.cocktail {
  position: relative;
}

.cock-box {
  box-shadow: 0px 4px 10px rgba(121, 121, 121, 0.1), 0px 10px 20px #E2DBE8;
  background: #FFFFFF;
  background-color: white;
  padding-bottom: 1px;
}

.cock-display-stand {
  height: 100px;
}

.cock-box-info {
  display: flex;
  flex-direction: column;
  font-family: 'Avenir Next', 'Avenir';
  width: 250px;
  height: 25vh;
  padding: 5px 20px 20px;
  margin: 10px;
  overflow-y: auto;
  border: black dashed 1px;
}

.cock-box-info::-webkit-scrollbar {
  -webkit-appearance: none;
}

.cock-box-info::-webkit-scrollbar:vertical {
  width: 10px;
}

.cock-box-info::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}

.cocktail-item {
  margin-top: 0.5em;
  padding-left: 2em;
  text-indent: -2em;
}

.cocktail-name {
  text-align: center;
}

.ingredients {
  margin: 0;
  margin-left: 0.6em;
}

.ingredient {
  margin-top: 0.5em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.6em;
}

.ingredient > .bullet-container {
  width: 9px;
  height: 1.5em;
  position: relative;
}

.ingredient > .bullet-container > .outer-bullet {
  width: 9px;
  height: 9px;
  background: black;
  border-radius: 9px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ingredient > .bullet-container > .outer-bullet > .inner-bullet {
  width: 2px;
  height: 2px;
  background: transparent;
  border: solid white 3px;
  border-radius: 10px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.ingredient > .label {
  width: calc(100% - 9px - 0.6em);
  overflow-wrap: break-word;
}

.item-key {
  font-weight: 600;
}

.marg-display {
  position: relative;
  bottom: -100px;
}


.lowball-display {
  position: relative;
  bottom: -100px;
}


.martini-display {
  position: relative;
  bottom: -100px;
}

.marg-display > svg {
  margin: 0 auto;
  margin-left: 15%;
  width: 70%;
}

.lowball-display > svg {
  margin: 0 auto;
  width: 100%;
}

.martini-display > svg {
  margin: 0 auto;
  margin-left: 5%;
  width: 90%;
}
